{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/ficha.css') }}" type="text/css" rel="stylesheet"/>
    <!-- Caveat Regular 400 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"> 
    <!-- Nunito Sans -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 id="title">{{ animal.nombreA }}</h1>
                        </div>
                        <div class="col-md-6 d-flex flex-row-reverse">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gestionar Animal
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {# Registro de enfermedad #}
                                    <a class="dropdown-item" href="{{ path('app_registro_enfermedad', {'ficha': animal.ficha}) }}">Registrar Enfermedad</a>
                                    {# Registro de vacuna #}
                                    <a class="dropdown-item" href="#">Registrar Vacunación</a>
                                    {# Registro de revisión #}
                                    <a class="dropdown-item" href="#">Registrar Revisión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="columna-foto col-md-3">
                            <div class="contenedor-foto ">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="contenedor-datos">
                                        <div class="solo-visualizacion">
                                            <h3><strong>Sexo</strong></h3>
                                            <h4>{{ animal.sexo }}</h4>
                                        </div>
                                        <div class="solo-visualizacion">
                                            <h3><strong>Edad</strong></h3>
                                            <h4>{{ animal.edad }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contenedor-datos">
                                        <div class="solo-visualizacion">
                                            <h3><strong>Especie</strong></h3>
                                            <h4>{{ animal.especie.title }}</h4>
                                        </div>
                                        <div class="solo-visualizacion">
                                            <h3><strong>Raza</strong></h3>
                                            <h4>{{ animal.raza.title }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="contenedor-datos">
                                        <div class="solo-visualizacion">
                                            <h3><strong>Tamaño</strong></h3>
                                            <h4>{{ animal.tamano.title }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Fila de inserciones de enf, vacunas o revisiones #}
                    <div class="row mt-5">
                        <div class="col-md-4 col-sm-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Enfermedades</h5>
                                </div>
                                <div class="card-body">
                                    {# Aquí supongo que haya que hacer un foreach para ir mostrando los datos #}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Vacunas</h5>
                                </div>
                                <div class="card-body">
                                    {# Aquí supongo que haya que hacer un foreach para ir mostrando los datos #}
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 col-sm-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Revisiones</h5>
                                </div>
                                <div class="card-body">
                                    {# Aquí supongo que haya que hacer un foreach para ir mostrando los datos #}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>NombreA</th>
                <td>{{ animal.nombreA }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ animal.sexo }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ animal.foto }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ animal.edad }}</td>
            </tr>
        </tbody>
    </table> #}

    {# <a href="{{ path('animal_index') }}">back to list</a>

    <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a> #}

    {# {{ include('animal/_delete_form.html.twig') }} #}


    {% block javascripts %}
        <script src="{{ asset('js/ficha.js') }}" type="text/javascript">
    {% endblock %}
    
{% endblock %}
